/* General reset and box-sizing for better control */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and page setup */
body {
    font-family: 'Raleway', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #beced6;
    min-height: 100vh;
    overflow: auto;
}
.adspace {
    height: 100%;
}

/* Container div for main padding */
.page-container {
    padding: 0 10%; /* Main padding */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Top and Bottom Bars */
.top-bar, .bottom-bar {
    width: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    z-index: 1000;
    background-color: #beced6;
}

.top-bar {
    top: 0;
    height: 50px;
    line-height: 50px;
}

.bottom-bar {
    bottom: 0;
    height: 20px;
    color: #8c8c8c;
    font-size: 10px;
    text-align: right;
    padding: 5px;
}

/* Main container */
.main-container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}

/* Left Block */
.left-block {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.left-top {
    flex: 2;
    padding: 10px;
}

.left-bottom {
    flex: 1;
    padding: 10px;
}

/* Right Block */
.right-block {
    width: 25%;
    padding: 10px;
}

/* Chart Container */
.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 1vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}    

.chart-container {
    width: 100%;
    min-height: 35vh;
    overflow: hidden;
}

/* PID Container */
.pid-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: space-between;
}

.pid-controls-top {
    height: auto;
}

/* Bottom part aligns at bottom */
.pid-controls-bottom {
    height: auto;
    margin-top: auto; 
}

input[type="range"] {
    width: 100%;
    margin-bottom: 5px;
}

/* Informations Container */
.info-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    padding: 1%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-bars {
    width: 50%;
}

.info-text {
    text-align: left;
    font-size: 16px;
    padding-left: 8px;
}

button {
    font-family: inherit;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 3%;
    padding: 5%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

button:hover {
    background-color: #0056b3;
}

.progress-bar-container {
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.progress-bar-fill {
    height: 100%;
    width: 0;
    background-color: #3b82f6;
    transition: width 0.3s;
}

#currentTempProgress {
    background-color: #4bc0c0;
}

#powerOutputProgress {
    background-color: #ff7d66;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    pointer-events: none;
}

.value-display {
    font-weight: bold;
    font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 700px) {
    .main-container {
        height: 100vh;
        flex-direction: column;
    }
    
    h1 {
        font-size: 6vw;
    }

    .page-container {
        padding: 0 2%;
    }

    .left-block, .right-block {
        width: 100%;
    }
    
    .chart-container {
        min-height: 30vh;
    }
    
    .info-text {
        text-align: left;
        font-size: 12px;
    }
}